
# common
logs/
resources/config/

# maven
build/
target/

# idea
.idea/
*.iml

# eclipse
.settings/
.project
.classpath


# project
.patchs/
.search-results/
/src/main/resources/dev/

/target/
